{#############################################################################
 #                                  MSE-JPS                                  #
 #                 Mini Site Engine - Javascript / PHP / SQL                 #
 #                                                                           #
 #                       Version 2.4.0-0 : 22/06/2016                        #
 #                                                                           #
 #                     Developped by Hadrien Croubois :                      #
 #                        hadrien.croubois@gmail.com                         #
 #                                                                           #
 #############################################################################}


{% include 'script/particles.twig' %}

<!-- <header class='dark'> -->
<header class='particles'>

	{# {% include 'script/parallax.twig' %} #}

	<span id='name'>{{website.header.name}}</span>
	<img id='picture' src='{{website.header.picture}}' alt='Profile picture'/>
	<ul id='nav'>
		{% for page in website.pages.list %}
			<li id='nav-li-{{page.id}}' {% if page.id == website.current %} class='current' {% endif %}>
				<a id='nav-a-{{page.id}}' href='?page={{page.title}}'>{{ page.title }}</a>
			</li>
		{% endfor %}
	</ul>

</header>

