{##############################################################################
 #                                  MSE-JPS                                   #
 #                 Mini Site Engine - Javascript / PHP / SQL                  #
 #                                                                            #
 #                        Version 2.0.0-0 : 10/04/2015                        #
 #                                                                            #
 #                      Developped by Hadrien Croubois :                      #
 #                         hadrien.croubois@gmail.com                         #
 #                                                                            #
 ##############################################################################}

<div class='bibentry'>
	<div class='bibtitle'>	{{reference.title}}		</div>
	<div class='bibauthor'>	{{reference.authors}}	</div>
	<div class='bibref'>
		{{ reference.ref}}

		{% for source in reference.sources.list %}
			<a href={{ source.url }} target='_blank'>[{{ source.title }}]</a>
		{% endfor %}

		{% if reference.bibtex or reference.abstract %}
			<a href='#' onclick='toggleBib(this); return false;'>
				[{% if reference.abstract %}Abstract{% endif %}
				{% if reference.bibtex and reference.abstract%}/{% endif %}
				{% if reference.bibtex %}Bibtex{% endif %}]
			</a>
		{% endif %}
	</div>

	{% if reference.bibtex or reference.abstract %}
		<div class='bibtray' style='display: none;'>
			{% if reference.abstract %}
				<div class='bibabstract'>{{ reference.abstract }}</div>
			{% endif %}
			{% if reference.bibtex %}
				<div class='bibtex'>{{ reference.bibtex | raw }}</div>
			{% endif %}
		</div>
	{% endif %}
</div>