{##############################################################################
 #                                  MSE-JPS                                   #
 #                 Mini Site Engine - Javascript / PHP / SQL                  #
 #                                                                            #
 #                        Version 1.1.0-1 : 29/03/2015                        #
 #                                                                            #
 #                      Developped by Hadrien Croubois :                      #
 #                         hadrien.croubois@gmail.com                         #
 #                                                                            #
 ##############################################################################}

<header class='dark'>
	<span id='name'>{{website.header.name}}</span>
	<img id='picture' src='{{website.header.picture}}' alt='Profile picture'/>
	<ul id='nav'>
		{% for page in website.page.sections.list %}
			<li id='nav-li-{{page.id}}' {% if page.id == website.current %} class='current' {% endif %}>
				<a id='nav-a-{{page.id}}' href='?page={{page.title}}'>{{ page.title }}</a>
			</li>
		{% endfor %}
	</ul>
</header>